.personDescription{
    font-size: 40px;
    font-weight: 600;
}

.boxImage{
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
}

.image{
    height: 700px;
}

.boxPaddingLeft{
    padding-left: 20px;
    padding-right: 20px;
}

.boxPaddingBottom{
    padding-bottom: 40px;
}